<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mapper.ProjectLevelMapper">
    
    <resultMap type="ProjectLevel" id="ProjectLevelResult">
        <result property="id"    column="id"    />
        <result property="moduleId"    column="module_id"    />
        <result property="levelCode"    column="level_code"    />
        <result property="levelTitle"    column="level_title"    />
        <result property="levelInfo"    column="Level_info"    />
        <result property="levelType"    column="level_type"    />
        <result property="imgUrl"    column="img_url"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="moduleName"    column="moduleName"    />
    </resultMap>

    <sql id="selectProjectLevelVo">
        select * from project_level
    </sql>

    <select id="selectProjectLevelList" parameterType="ProjectLevel" resultMap="ProjectLevelResult">
        select le.*,  md.name as moduleName from project_level as le
            left join project_module as md on md.id = le.module_id
        <where>  
            <if test="moduleId != null "> and le.module_id = #{moduleId}</if>
            <if test="levelTitle != null  and levelTitle != ''"> and le.level_title = #{levelTitle}</if>
        </where>
        order by le.level_code asc
    </select>
    
    <select id="selectProjectLevelById" parameterType="Long" resultMap="ProjectLevelResult">
        <include refid="selectProjectLevelVo"/>
        where id = #{id}
    </select>

    <insert id="insertProjectLevel" parameterType="ProjectLevel">
        insert into project_level
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="moduleId != null">module_id,</if>
            <if test="levelCode != null">level_code,</if>
            <if test="levelTitle != null">level_title,</if>
            <if test="levelInfo != null">level_info,</if>
            <if test="levelType != null">level_type,</if>
            <if test="imgUrl != null">img_url,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="moduleId != null">#{moduleId},</if>
            <if test="levelCode != null">#{levelCode},</if>
            <if test="levelTitle != null">#{levelTitle},</if>
            <if test="levelInfo != null">#{levelInfo},</if>
            <if test="levelType != null">#{levelType},</if>
            <if test="imgUrl != null">#{imgUrl},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateProjectLevel" parameterType="ProjectLevel">
        update project_level
        <trim prefix="SET" suffixOverrides=",">
            <if test="moduleId != null">module_id = #{moduleId},</if>
            <if test="levelCode != null">level_code = #{levelCode},</if>
            <if test="levelTitle != null">level_title = #{levelTitle},</if>
            <if test="levelInfo != null">level_info = #{levelInfo},</if>
            <if test="levelType != null">level_type = #{levelType},</if>
            <if test="imgUrl != null">img_url = #{imgUrl},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProjectLevelById" parameterType="Long">
        delete from project_level where id = #{id}
    </delete>

    <delete id="deleteProjectLevelByIds" parameterType="String">
        delete from project_level where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectProjectLevelModuleIDAndLevelCode" parameterType="ProjectLevel" resultMap="ProjectLevelResult">
        select
            *
        from
            project_level
        where
            module_id = #{moduleId} and level_code = #{levelCode}
    </select>



</mapper>