<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mapper.QuestionOptionMapper">
    
    <resultMap type="QuestionOption" id="QuestionOptionResult">
        <result property="id"    column="id"    />
        <result property="questionId"    column="question_id"    />
        <result property="optionCode"    column="option_code"    />
        <result property="optionContent"    column="option_content"    />
        <result property="isCorrect"    column="is_correct"    />
        <result property="scoreWeight"    column="score_weight"    />
        <result property="isPartiallyCorrect"    column="is_partially_correct"    />
        <result property="sort"    column="sort"    />
        <result property="optionGroup"    column="option_group"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="version"    column="version"    />
        <result property="question"    column="question"    />
    </resultMap>

    <sql id="selectQuestionOptionVo">
        select question_option.*,
               question_manage.title as question
            from question_option
        left join
            question_manage on question_option.question_id = question_manage.id
    </sql>

    <select id="selectQuestionOptionList" parameterType="QuestionOption" resultMap="QuestionOptionResult">
        <include refid="selectQuestionOptionVo"/>
        <where>  
            <if test="questionId != null  and questionId != ''"> and question_id = #{questionId}</if>
            <if test="optionCode != null  and optionCode != ''"> and option_code = #{optionCode}</if>
            <if test="optionContent != null  and optionContent != ''"> and option_content = #{optionContent}</if>
            <if test="isCorrect != null "> and is_correct = #{isCorrect}</if>
            <if test="isPartiallyCorrect != null "> and is_partially_correct = #{isPartiallyCorrect}</if>
            <if test="sort != null  and sort != ''"> and sort = #{sort}</if>
            <if test="version != null  and version != ''"> and version = #{version}</if>
        </where>
    </select>
    
    <select id="selectQuestionOptionById" parameterType="String" resultMap="QuestionOptionResult">
        <include refid="selectQuestionOptionVo"/>
        where question_option.id = #{id}
    </select>

    <insert id="insertQuestionOption" parameterType="QuestionOption" useGeneratedKeys="true" keyProperty="id">
        insert into question_option
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="questionId != null and questionId != ''">question_id,</if>
            <if test="optionCode != null and optionCode != ''">option_code,</if>
            <if test="optionContent != null and optionContent != ''">option_content,</if>
            <if test="isCorrect != null">is_correct,</if>
            <if test="scoreWeight != null">score_weight,</if>
            <if test="isPartiallyCorrect != null">is_partially_correct,</if>
            <if test="sort != null and sort != ''">sort,</if>
            <if test="optionGroup != null">option_group,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="version != null">version,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="questionId != null and questionId != ''">#{questionId},</if>
            <if test="optionCode != null and optionCode != ''">#{optionCode},</if>
            <if test="optionContent != null and optionContent != ''">#{optionContent},</if>
            <if test="isCorrect != null">#{isCorrect},</if>
            <if test="scoreWeight != null">#{scoreWeight},</if>
            <if test="isPartiallyCorrect != null">#{isPartiallyCorrect},</if>
            <if test="sort != null and sort != ''">#{sort},</if>
            <if test="optionGroup != null">#{optionGroup},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="version != null">#{version},</if>
         </trim>
    </insert>

    <update id="updateQuestionOption" parameterType="QuestionOption">
        update question_option
        <trim prefix="SET" suffixOverrides=",">
            <if test="questionId != null and questionId != ''">question_id = #{questionId},</if>
            <if test="optionCode != null and optionCode != ''">option_code = #{optionCode},</if>
            <if test="optionContent != null and optionContent != ''">option_content = #{optionContent},</if>
            <if test="isCorrect != null">is_correct = #{isCorrect},</if>
            <if test="scoreWeight != null">score_weight = #{scoreWeight},</if>
            <if test="isPartiallyCorrect != null">is_partially_correct = #{isPartiallyCorrect},</if>
            <if test="sort != null and sort != ''">sort = #{sort},</if>
            <if test="optionGroup != null">option_group = #{optionGroup},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="version != null">version = #{version},</if>
        </trim>
        where question_option.id = #{id}
    </update>

    <delete id="deleteQuestionOptionById" parameterType="String">
        delete from question_option where question_option.id = #{id}
    </delete>

    <delete id="deleteQuestionOptionByIds" parameterType="String">
        delete from question_option where question_option.id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>