<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mapper.QuestionAnswerMapper">
    
    <resultMap type="QuestionAnswer" id="QuestionAnswerResult">
        <result property="id"    column="id"    />
        <result property="questionId"    column="question_id"    />
        <result property="answerType"    column="answer_type"    />
        <result property="answerContent"    column="answer_content"    />
        <result property="explanation"    column="explanation"    />
        <result property="optionCodes"    column="option_codes"    />
        <result property="scoreWeight"    column="score_weight"    />
        <result property="sort"    column="sort"    />
        <result property="language"    column="language"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="version"    column="version"    />
        <result property="question"    column="question"    />
    </resultMap>

    <sql id="selectQuestionAnswerVo">
        select question_answer.*,
               question_manage.title as question
        from question_answer
                 left join
             question_manage on question_answer.question_id = question_manage.id
    </sql>

    <select id="selectQuestionAnswerList" parameterType="QuestionAnswer" resultMap="QuestionAnswerResult">
        <include refid="selectQuestionAnswerVo"/>
        <where>  
            <if test="questionId != null  and questionId != ''"> and question_id = #{questionId}</if>
            <if test="answerType != null "> and answer_type = #{answerType}</if>
            <if test="answerContent != null  and answerContent != ''"> and answer_content = #{answerContent}</if>
            <if test="explanation != null  and explanation != ''"> and explanation = #{explanation}</if>
            <if test="optionCodes != null  and optionCodes != ''"> and option_codes = #{optionCodes}</if>
            <if test="scoreWeight != null "> and score_weight = #{scoreWeight}</if>
            <if test="sort != null  and sort != ''"> and sort = #{sort}</if>
            <if test="language != null  and language != ''"> and language = #{language}</if>
            <if test="version != null  and version != ''"> and version = #{version}</if>
        </where>
    </select>
    
    <select id="selectQuestionAnswerById" parameterType="String" resultMap="QuestionAnswerResult">
        <include refid="selectQuestionAnswerVo"/>
        where question_answer.id = #{id}
    </select>

    <insert id="insertQuestionAnswer" parameterType="QuestionAnswer" useGeneratedKeys="true" keyProperty="id">
        insert into question_answer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="questionId != null and questionId != ''">question_id,</if>
            <if test="answerType != null">answer_type,</if>
            <if test="answerContent != null and answerContent != ''">answer_content,</if>
            <if test="explanation != null">explanation,</if>
            <if test="optionCodes != null">option_codes,</if>
            <if test="scoreWeight != null">score_weight,</if>
            <if test="sort != null and sort != ''">sort,</if>
            <if test="language != null">language,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="version != null">version,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="questionId != null and questionId != ''">#{questionId},</if>
            <if test="answerType != null">#{answerType},</if>
            <if test="answerContent != null and answerContent != ''">#{answerContent},</if>
            <if test="explanation != null">#{explanation},</if>
            <if test="optionCodes != null">#{optionCodes},</if>
            <if test="scoreWeight != null">#{scoreWeight},</if>
            <if test="sort != null and sort != ''">#{sort},</if>
            <if test="language != null">#{language},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="version != null">#{version},</if>
         </trim>
    </insert>

    <update id="updateQuestionAnswer" parameterType="QuestionAnswer">
        update question_answer
        <trim prefix="SET" suffixOverrides=",">
            <if test="questionId != null and questionId != ''">question_id = #{questionId},</if>
            <if test="answerType != null">answer_type = #{answerType},</if>
            <if test="answerContent != null and answerContent != ''">answer_content = #{answerContent},</if>
            <if test="explanation != null">explanation = #{explanation},</if>
            <if test="optionCodes != null">option_codes = #{optionCodes},</if>
            <if test="scoreWeight != null">score_weight = #{scoreWeight},</if>
            <if test="sort != null and sort != ''">sort = #{sort},</if>
            <if test="language != null">language = #{language},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="version != null">version = #{version},</if>
        </trim>
        where question_answer.id = #{id}
    </update>

    <delete id="deleteQuestionAnswerById" parameterType="String">
        delete from question_answer where question_answer.id = #{id}
    </delete>

    <delete id="deleteQuestionAnswerByIds" parameterType="String">
        delete from question_answer where question_answer.id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>