/* 定义一个名为 .level 的类，用于设置关卡的样式 */
.level {



    .flex {
        display: flex;
    }

    .flex span:nth-child(1) {
        margin: auto;
        color: rgba(121, 121, 121);
    }

    .card-list {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        background-color: rgba(255, 182, 193,0.3);
    }

    .right-aside {
        margin-top: 10px;
        width: 100%;
        h2 {
            padding: 5px 23px;
            background-color: rgba(255, 200, 200,1);
            width: 30%;
            border-radius: 5px;
            color: white;
            text-align: center;

        }
    }

    .left-aside {
        width: 50%;
        margin-right: 20px;
        margin-top: 10px;
        /* border: 1px solid black; */
    }
    .left-aside-content{
        border:1px solid #ccc;
        border-radius: 15px;
        width: 90%;
        margin-right: 20px;
    }



    .catalog-item-step{
        width: 5px;
        height: 100%;
        border-left: 5px solid #f4bac5;
        margin-left: 126px;
        position: absolute;
        top: -3px;
        z-index: -1;
    }

    h3 {
        text-align: center;
        height: 60px;
        line-height: 60px;
    }

    .left-aside-item {
        display: flex;
        margin-left: 20px;
    }

    .img-title1 {
        height: 100px;
    }

    li {
        margin-top: 10px;
        list-style: none;
    }
    .img-title2{
        height: 47px;
        width: 47px;
        margin-top: 11px;
        margin-right: 9px;
    }
    .get{
        width: 100%;
        height: 40px;
        text-align: center;
        border: 1px solid #ccc;
        line-height: 40px;
        border-radius: 5px;
        font-size: 20px;
        margin-top: 35px;
    }
    .get-list{
        text-align: center;
        margin: auto;
        table{
            margin-left: 2.5%;
        }
        table tr td{
            text-align: center;
            margin: auto;
            height: 50px;
            line-height: 50px;
        }
    }
    .img-title3{
        width: 29px;
        height: 19px;
    }
    .board{
        text-align: center;
        display: flex;
    }
    .week-board{
        display: flex;
        align-items: center;
        position: relative;
    }
    .week-board img:nth-child(1){
        width: 34px;
        height: 34px;
    }
    .week-board img:nth-child(2){
        width: 36px;
        height: 36px;
    }
    .week-board img:nth-of-type(3){
        width: 20px;
        height: 20px;
        margin-left: 150px;
    }
    .week-board-num{
        width: 28px;
        height: 28px;
        border: 1px solid #ccc;
        border-radius: 15px;
        display: inline-block;
        text-align: center;
        margin-left: 20px;
        position: relative;
        left: -3px;
        background-color: #eaeaea;
    }
    .flag{
        width: 20px;
        height: 20px;
        margin-left: 150px;
    }
    .left-aside-content1{
        width: 89%;
        border:1px solid #ccc;
        border-radius: 15px;
        margin-top: 15px;
    }
    div{
        display: inline-block;
    }
    .right-aside-item{
        position: relative;
    }
    .right-aside-item ul li div{
        padding: 5px 26px;
        border-radius: 15px;
        color: white;
        background-color: rgba(255, 182, 193,0.6);
    }
    .right-aside-item ul li{
        position: relative;
        left: 85px;
        margin-top: 49px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
    }
    .right-aside-item ul li:hover{
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5); /* 增加阴影效果 */
        /*box-sizing: border-box;*/
        /*border-width: 1px;*/
        /*border-style: solid;*/
        border-color: rgb(255, 255, 255);
        border-image: initial;
        border-radius: 16px;
        cursor: pointer;
    }
    .right-aside-item ul li:hover div {
        background-color: rgba(255, 182, 193,3);
        color: white;
    }
    .right-aside-item ul li input{
        margin-left: 50px;
        width: 20px;
        height: 20px;
        line-height: 50px;
    }
    .levelTypes{

        text-align: center;
        width: 100%;
        background-color: rgba(255,182,193,0.3);
        img{
            margin-top: 10px;
            width: 100px;
            height: 100px;
        }
        .html{
            width:100%;
            border-radius: 10px;
        }

    }


    .ranking{
        width: 100%;
        text-align: center;
        margin: auto;
        table{
            margin-left: 2.5%;
        }
        img{
            width: 20px;
            height: 20px;
        }
        .ranking-list td{
            font-size: 14px;
            font-weight: bold;
            height: 50px;
            line-height: 50px;
        }
        table tr td{
            text-align: center;
            height: 40px;
            line-height: 40px;
        }
    }

}


.passLevel{
    border-radius: 10px;
    .imgCss{
        width: 180px;
        height: 150px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    .flex-list{
        display: flex;
        justify-content: space-between;
    }

}
.dialog-footer{
    margin-left: 80%;
}



