.level{
    .section {
        padding: 30px 20px;
        text-align: center;
        animation: fadeInUp 1s ease forwards;
        background-color: rgba(255, 182, 193,0.2);
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /*background-color: rgba(255, 182, 193,0.3);*/
        .left-list{
            width: 70%;
            .title {
                h3{
                    background-color: rgba(0, 0, 255,0.5);
                    height: 30px;
                    line-height: 30px;
                    border-radius: 10px;
                    width: 100px;
                }
                .level-list{
                    display: flex;
                   .level-list-item{
                        display: flex;
                        justify-content: space-between;
                    .level-title{
                           display: flex;
                           width: 200px;
                        span  .level-name{
                               width: 100px;
                               height: 30px;
                               line-height: 30px;
                               border-radius: 10px;
                               background-color: rgba(0, 0, 255,0.5);
                           }

                       }
                       .level-desc{
                           display: flex;
                       }
                    }
                }
            }
        }
    }

    ul li{
        list-style: none; /* 去除列表项的默认标记 */
        margin: 0; /* 去除外边距 */
        padding: 0; /* 去除内边距 */
    }



}





